div(class="popup absolute-center")
  div(class="popup-content")
    button(hx-get="/admin/components/entities/main" 
      hx-swap="innerHTML"
      hx-target="#entityTypes") Close X
    p Entity Type:
    p
      b #{data[0].name}
    div
      p #{data[0].name} fields
      div(id="entityTypeFieldList"
        hx-get="/admin/components/entities/fields/list/q/entity_type_field?entity_type="+data[0].id
        hx-trigger="load, sse:entity_type_field"
        hx-swap="innerHTML"
        hx-target="#entityTypeFieldList")
      div(id="entityTypeFieldsControls")
        include ../fields/add_fields_btn.pug
    div
      p #{data[0].name} user groups    
      div(id="entityTypeUserGroupList"
        hx-get="/admin/components/entities/user_groups/list/q/account_group?entity_type="+data[0].id
        hx-trigger="load, sse:account_group"
        hx-swap="innerHTML"
        hx-target="#entityTypeUserGroupList")
      div(id="entityTypeUserGroupsControls")
        include ../user_groups/add_user_group_btn.pug
    div(id="entityTypeEntities"+data[0].id)
      button(hx-get="/admin/components/entities/type/entities/q/entity_type?id="+data[0].id
        hx-swap="innerHTML"
        hx-trigger="click"
        hx-target="#entityTypeEntities"+data[0].id) Entities
    input(type="hidden" id="entityTypeId" name="entity_type" value=data[0].id)
