extends ./_layout.pug
append content
  script(src="/js/vendor/grid.min.js")
  link(href="/css/vendor/mermaid.min.css" rel="stylesheet")
  link(href="/css/grid.css" rel="stylesheet")
  link(href="/css/search.css" rel="stylesheet")
  script(src="/js/list.js")
  div
    h2 Jobs
    div(id="jobsListView"
      hx-get="/components/search/list/server-side"
      hx-vars="entity_type:'job'"
      hx-params="entity_type"
      hx-trigger="load, sse:content"
      hx-swap="innerHTML"
      hx-target="#jobsListView")
    div(id="listResultsQuickview")
