div(id="tagContentField_"+handle
  hx-get="/components/tags/attached/_tags"
  hx-vars="field:"+field.id+", entity:"+entity.entity
  hx-trigger="load, sse:tag_matrix"
  hx-target="#tagContentField_"+handle
  hx-swap="innerHTML")
if field.write
  form
    div(class="quickview-field-tag-seach" id="quickviewTagSearch_"+handle)
    input(class="inline-block"
      type="text"
      name="tag"
      hx-get="/components/tags/search/_tags_outer"
      hx-trigger="keyup"
      hx-vars="field:"+field.id+", entity:"+entity.entity
      hx-include="field, entity, tag"
      hx-target="#quickviewTagSearch_"+handle
      hx-swap="innerHTML")
    button(class="inline-block"
      hx-trigger="click"
      hx-post="/actions/tag/add"
      hx-vars="field:"+field.id+", entity:"+entity.entity
      hx-include="field, entity, tag"
      hx-swap="none") Tag
