if entityFieldAccess[handle].data_type == "color"
  input(type="color" name=handle value=row[handle])
else if entityFieldAccess[handle].data_type == "asset"
  img(class="img--thumb" src=row[handle])
else if entityFieldAccess[handle].data_type == "entities"
  div(id="entityContentField_"+handle
    hx-get="/components/quickview/associations/q_assoc"
    hx-vars="entity:"+row['entity']+", handle:"+handle
    hx-params="entity, handle"
    hx-trigger="load, sse:entity_matrix"
    hx-target="#entityContentField_"+handle
    hx-swap="innerHTML")
else
  p #{row[handle]}
