if entities.length > 0
  if currentUser.access[entities[0].entity_type_handle]
    - var jobFields = currentUser.access[entities[0].entity_type_handle].fields
    p(class="text-sidenote") * Hold SHIFT while clicking multiple columns to sort by multiple
    table(id="listResultsTbl")
      thead
        tr
          each field, handle in jobFields
            th #{ field.name }
      tbody
        for entity in entities
          - var i = 0
          tr
            each field, handle in jobFields
              if i == 0
                td 
                  div(class="flex")
                    span(hx-trigger="click"
                      hx-get="/components/quickview/_single/"+entity.entity
                      hx-target="#listResultsQuickview"
                      hx-swap="innerHTML")
                      img(class="search-results-quickview-icon" src="/icons/binos.svg")
                    span #{ entity[handle] }
              else
                td 
                  span #{ entity[handle] }
              - i++
    div(id="listResultsTblWrapper")
    script(defer) grid.init("listResultsTbl", "listResultsTblWrapper");
  else
    p No access
else
  p No data
